
:root {
    --gold: #FEBE10;
    --blue: #00529F;
    --red: #EE324E;
    --white: #fff;
    --black: #000;

}


body {
    background-color: var(--pink);
    background-image: url(img/CristianoRonaldoTacas.jpg);
    background: cover cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.caixa {
    display: flex;
    flex-direction: column;
    background-color: var(--red);
    text-align: center;
    width: 80%;
    align-items: center;
    border: 10px solid var(--blue);
    border-radius: 5%;
    color: var(--gold);
    box-shadow: black 50%;
    margin-top: 10%;
}

.caixa:hover {
    background-color: var(--blue);
    text-align: center;
    align-items: center;
    border: 10px solid var(--white);
    border-radius: 5%;
    color: var(--red);

}

.conteudo {
    display: flex;
    flex-direction: column ;
    width: 80%;
    text-align: center;
    align-items: center;   
}


/* @media and screen(max 800px){
    .caixa{

    }
} */